@import "./base/all.scss";
.basket-container {
  position: fixed;
  z-index: 100;
  top: rem(53);
  right: rem(50);
  width: 50%;
  background: #fff;
  border: 1px solid #f9fafb;
  padding: rem(10) rem(30) rem(30) rem(30);
  border-radius: rem(20);
  box-shadow: 4px 4px 12px 10px rgba(34, 60, 80, 0.2);
}
.basket {
  &__title {
    font-weight: bold;
  }
  &__close {
    cursor: pointer;
    border-radius: rem(20);
    padding: rem(3);
    background: transparent;
    &:hover {
      background: #e1effe;
      fill: #233876;
    }
  }
  &__content {
    width: 100%;
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
  &__link {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
  }
}
.price {
  display: flex;
  justify-content: space-between;
  &__rezult {
    display: flex;
    gap: rem(10);
    align-items: center;
    font-size: rem(20);
    color: #f05252;
  }
}
.basket-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(10);
  padding-bottom: rem(10);
  border-bottom: 1px solid #e1effe;
}
