@import "./base/all.scss";
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f9fafb;
  box-shadow: 2px 1px 13px 3px rgb(156 163 175 / 20%);
  justify-content: center;
  justify-items: center;
  text-align: left;
  align-items: center;
  padding: rem(10);
  border-radius: rem(20);
  &__pic {
    width: rem(200);
    height: rem(250);
    object-fit: contain;
  }
  &__title {
    font-size: rem(16);
    font-weight: 500;
    padding: rem(10);
  }
}
.card-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: rem(10);
}
.rating {
  display: flex;
  gap: rem(10);
}
