@import "./base/all.scss";
.cart {
    cursor: pointer;
    display: flex;
    gap: rem(5);
    background: $light-gray;
    flex-direction: row;
    width: auto;
    height: rem(32);
    border-radius: rem(20);
    padding: rem(5) rem(10);
    fill: $dark-gray;
}
.quantity {
    color: $dark-gray;
}
