@import "./base/all.scss";
.cart {
    cursor: pointer;
    display: flex;
    gap: rem(5);
    background: #e5e7eb;
    flex-direction: row;
    width: rem(50);
    position: fixed;
    right: rem(50);
    top: rem(10);
    border-radius: rem(20);
    padding: rem(5) rem(10);
}
