.backet-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 50rem;
  max-width: 95%;
}
.row {
  display: flex;
  justify-content: space-between;
}

.title {
  padding-top: 100px;
}
